.total-cart{
  text-align: center;
    max-width:500px;
    margin:  auto;
    color: brown;
}
.total-cart  p{
  font-size: 28px;
  font-weight: lighter;
  color:#b6452c;
  text-align: center;
  font-family: 'Trocchi', serif;
}

.total-cart img{
   
    height: 15%;
    width: 15%;
    padding-bottom: 20px;
}

.total-pagar {
    font-size: 28px;
    font-weight: lighter;
    color:#b6452c;
    text-align: center;
    font-family: 'Trocchi', serif;

}

.boton-concluir{
  height:40px; 
  width:150px; 
  margin: -20px -50px; 
  position:relative;
  top:50%; 
  left:50%;
  font-size: 15px;
  font-weight:bold;
  color:#f1f175;
  border-radius: 10px;
  border: none;
  background-color: #b6452c;
}
