.cart-items{
    display:flex;
    border-bottom: 2px solid rgb(114, 10, 10);
    max-width:500px;
    margin: 1rem auto;
   padding-top: 5px;
   padding-bottom: 5px;
  }
  .cart-items img {
    width: 200px;
    margin-right: 1rem;
  
  }

  