  .contenedor-contador {
    
    margin: auto;
    padding: 1rem;
    text-align: center;
    font-size: 20px;    
 
    justify-content: space-around;
 
  }

.boton-aritmetico{
  color:#d7f897;
  font-size: 20px;
  font-family: Roboto, sans-serif;
  width: 25px;
  height: 30px;
  background-color: #b6452c;
  border: none;
}
  
.boton-agregar{
  color:#ddc5a2;
  width: 150px;
  height: 30px;
  font-size: 12px;
  background-color: #b6452c;
  border-radius: 10px;
  border: none;
}

span{
 color: #b6452c;
}