img{
  border-radius: 7px;
  height: 100%;
  width: 100%;
}

.nombre-producto{
  padding-top: 15px;
  font-size: 34px;
  color:#b6452c;
  text-align: center;
  font-family: 'Bentham', serif;
}

.descripcion-producto{
  font-family: 'Playfair Display', serif;
  color:#b6452c;
  line-height: 1.7em;
  font-size: 20px;
  font-weight: lighter;
  overflow: hidden;
  text-align: justify;
}

.price {
  font-size: 28px;
  font-weight: lighter;
  color:#b6452c;
  text-align: center;
  font-family: 'Trocchi', serif;
}

.boton-comprar{
 margin-left: 35%;
 margin-bottom: 65px;
}

.linea{
  text-decoration:none;
}

.datos{
  border-style: outset;
  border-radius: 10px;
}
